@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@600;700;800&display=swap');

html{
	width: 300px;
	height: 500px;
}

*{
	font-family: 'Sarabun', sans-serif;
}

body{
    background-image: linear-gradient(144deg, #262B2F 50%, #16191D 100%);
	border-radius: 16px;
	margin: 0;
	display: flex;
	justify-content: center;
}

.content-wrapper{
	height: 100vh;
	width: fit-content;
	display: grid;
	grid-template-rows: 80px repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	row-gap: 5px;
}

.title{
	margin: 0;
	color: #D6E1EF;
	font-weight: 800;
	font-size: 32px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.join-button{
	height: 205px;
	width: 205px;
	background-image: linear-gradient(320deg, #262B2F 50%, #16191D 100%);
	border-radius: 100%;
	position: relative;
}

.join-button::after, .choose-case-button::after{
	content: '';
	background-image: linear-gradient(135deg, #be4bdb 5%, #9775fa 95%);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	margin: -2px -2px;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}

.join-button::after{
	border-radius: 100%;
}

.choose-case-button::after{
	border-radius: 18px;
}

.players-container{
	width: 100%;
	display: grid;
	grid-template-rows: 28px 1fr;
}

.players-wrapper{
	display: flex;
	justify-content: space-between;
}

input[type='checkbox']{
	width: 45px;
	height: 45px;
	visibility: hidden;
}

input[type='checkbox']::before{
	content: '';
	width: 45px;
	height: 45px;
	background-image: linear-gradient(320deg, #16191D 50%, #262B2F 100%);
	position: absolute;
	border-radius: 16px;
	visibility: visible;
}

input[type='checkbox']:checked::before{
	background-image: linear-gradient(135deg, #be4bdb 5%, #9775fa 95%);
	visibility: visible;
}

.sub-title{
	font-weight: 700;
	font-size: 16px;
	color: #6D737A;
	margin: 0;
}

.choose-case-button{
	width: 230px;
	height: 50px;
	border-radius: 16px;
	background-image: linear-gradient(320deg, #262B2F 50%, #16191D 100%);
	position: relative;
	outline: none;
	border: none;
	font-size: 16px;
	color: #D6E1EF;
	font-weight: 700;
}
